/*编译到css 也会存在的注释*/
.div-one {
  width: 800px;
  height: 400px;
  margin: auto;
  background: chartreuse;
  background-size: 100%;
}
.div-one ul {
  color: white;
  list-style: none;
}
.div-one ul li {
  line-height: 25px;
  height: 25px;
  padding-left: 15px;
  background: url(img/iqiyi.png);
}
.div-one ul li a {
  text-decoration: none;
}
